*{
  margin: 0;
  padding: 0;
}

.box-wrap {
  height: 300px;
  border: 1px solid #000;
  display: flex;

  > main {
    flex: 1;
    border: 1px solid green;
    overflow: hidden;
    
    .srcoll-wrap {
      width: 10000px;
      height: 300px;
      background-color: orange;
      >img {
        float: left;
        height: 100%;
      }
    }
  }

  > aside {
    flex-basis: 400px;
    margin-left: 10px;
    border: 1px solid red;
  }
}